@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Inter+Tight&family=Roboto+Mono:ital,wght@1,500&display=swap');
#images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
    color: rgb(29, 156, 206);
}

.upload-btn, .submit-btn, .back-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
}

.bottom-line {
    width: 90%;
    height: 6px;
    background-color: rgb(29, 156, 206);
    margin: 0 auto;
    margin: 4% ;
}

.details {
    white-space: nowrap; 
    font-size: 12px;
}

.my-image {
    transition: transform ease-in-out 0.5s;
}

.my-image:hover {
    transform: scale(1.1);
}


@media only screen and (min-width:321px) and (max-width:768px) { 
    #images {
        display: grid;
        grid-template-columns: 1fr;
    }    

    .my-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .details {
        font-size: 12px;
    }
}


