<div id="<% link_to dom_id image, image %>">
    <div>
    <%= link_to image_tag(image.image), image.image %>
    </div>
    Title: <%= image.title %>

    <strong>saved date:</strong>
    <%= image.created_at %>

    <strong>Description:</strong>
    <%= image.description %>

</div>
