<p style="color: green"><%= notice %></p>

<h1>Welcome to yourGallery</h1>

<div  id="images">
  <% @images.each do |image| %>
        <%= render image %>
  <% end %>
 </div>  

<div class="upload-btn">
  <%= link_to "upload new image", new_image_path, class:"btn btn-secondary " %>
</div>

